/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:space-around;
	align-items:center;
	height:300px;
	width:700px;
}
.hero>img{
	width:70vw;
	height:40vh;
	object-fit:cover;
}
.hero>div{
	margin:20px;
	padding:20px;
}
.hero>div>button{
	background-color:hotpink;
	color:white;
	padding:10px;
	border-radius:10px;
	
}
